export(LossLevel)
export(LossVaR)
export(LossVol)
export(MCSprocedure)
import("methods","parallel")
exportMethods(
    "show"
)
exportClasses(
    "SSM"
)
importFrom("stats", "ar", "na.omit")
importFrom("utils", "memory.limit", "object.size")
